/* Стили супер-базовые, так что делайте с ними че хотите */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
